:root{ scrollbar-width: none !important }
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}
.wrap { 
    position: relative; width: 100%; min-height: 200vh;
    background-color: #fff;
}
.header {
    position: fixed; width: 100%; height: 56px;
    background-color: #fff; z-index: 1000;
    border-bottom: 1px solid #CFD0D2; top:48px;
    .logo { 
        position: absolute; width:34px; top: 10px; left: 0; right:0;
        margin: auto;
    }
    .burger {
        position: absolute; width: 36px; top:10px; right: 12px;
    }
    .menu {
        position: absolute; width: 26px; top:18px; left: 16px;
    }
}
.hero-wrap {
    position: relative; width: 100%; height:660px; top: 56px;
    background-color: #fff; 
    &.type-c { height: 300px;}
    .overlay {
        display: block; position: absolute; width: 100%; height: 100%;
        background-color: rgba(0,0,0,0);
    }
    .title-wrap {
        position: absolute; width:164px; height: 214px; 
        top:30px; left:30px; 
        img { max-width: 100%;}
    }
    .hero-logo {
        position: absolute; width: 90px; margin: auto;
        left: 145px; top: 306px;
        img { max-width: 100%;}
    }
    .line { 
        display: block; position: absolute; width: 5px; height: 100px;
        background-color: #000; margin:auto; left:0; right:0; top: 540px;
    }
}
.con-wrap {
    position: relative; width: 100%;
    img { max-width: 100%;}
}